<div class="wrap-image-block-2" style="margin-bottom:0;">
<!-- Title row (full width of content area) -->
<div class="wrap-image-block-2__title-row">
<h2>
Meet [FirstName] [LastName]
</h2>
</div>
<!-- Text + image section -->
<div class="wrap-image-block-2__body">
<img
src="
[Headshot]" 
alt="[FirstName] [LastName]" 
class="wrap-image-block-2__image-head"
loading="lazy">

  <div class="team-bio__body">
    [Bio]
  </div>


</div>
</div>

<!-- cta-button-088 -->
<div class="cta-button-wrapper mb-5 mt-3" style="opacity:.85;margin-left:1rem;margin-right:1rem;">
<a href="#"
class="cta-button cta-bg-blue" style="height:100%;">
<span class="cta-button__text" style="white-space:break-spaces;">
<span class="cta-button__top">
Placeholder Text Label...
</span>
<span class="cta-button__bottom" style="margin-top:-10px;margin-bottom:1rem;">
Placeholder Text Bottom...
</span>
</span>
<img src="https://images.squarespace-cdn.com/content/5db1a8c2af0b1a1c3004a035/134a172a-2715-425f-b35b-985db1648743/7599130-FFFFFF.png" alt="Learn more" style="margin-left:1rem;width: 66px;height: auto;" />
</a>
</div>


<div class="contact-card mt-5 mb-5">
  
  <!-- Logo displays on the left -->
  <img 
  src="[Logo]" 
  alt="Logo" 
  class="contact-logo"
  >
  
  <!-- Content vertically centered to the right -->
  <div class="contact-info">
    
    <!-- Email Div -->
    <div class="contact-item item-email">
      <a href="
      mailto:[email] title="Email">[email]</a>
    </div>
    
    <!-- Phone Div -->
    <div class="contact-item item-phone">
      <a href="tel:5157105468" title="Call or Text">(515) 710-5468</a>
    </div>

    <!-- Location Div -->
    <div class="contact-item item-location">
      <a href="https://www.google.com/maps/place/Realty+One+Group+Impact+-+Beaverdale+-+Eric+Quiner/@41.6191406,-93.6732378,246m/data=!3m1!1e3!4m6!3m5!1s0x87ee9f13dd9a3d8d:0xe7fb21f0f574e968!8m2!3d41.6192168!4d-93.6721381!16s%2Fg%2F11m_6f8vrv?entry=ttu&g_ep=EgoyMDI2MDQxMi4wIKXMDSoASAFQAw%3D%3D" target="_blank" title="Office Location">
        <span class="location-text">
          <span class="location-name">Realty ONE Group Impact - Beaverdale</span>
          <span class="location-address">2705 Beaver Ave</span>
          <span class="location-address">Des Moines IA, 50310</span>
        </span>
      </a>


  <!-- Social Icons Row -->
  <div class="social-row">
    <!-- Facebook -->
    <div class="social-icon item-facebook">
      <a href="[FacebookURL]" target="_blank" title="Facebook" aria-label="Facebook"></a>
    </div>

    <!-- X (Twitter)-->
    <div class="social-icon item-x">
      <a href="[TwitterURL]" target="_blank" title="X" aria-label="X"></a>
    </div> 

    <!-- Instagram -->
     <div class="social-icon item-instagram">
      <a href="[InstagramURL]" target="_blank" title="Instagram" aria-label="Instagram"></a>
    </div>

    <!-- LinkedIn -->
    <div class="social-icon item-linkedin">
      <a href="[LinkedInURL]" target="_blank" title="LinkedIn" aria-label="LinkedIn"></a>
    </div> 

  </div>

  </div>
</div>
</div>
