<div class="team-deck desktop-cols-3">
  <!-- START_REPEAT -->
  <div class="team-card">
    <a href="#wm-popup=/team-member/details?TeamMemberId=[Id]" class="team-card__img-link" tabindex="-1" aria-hidden="true">
      <img src="[Headshot]" alt="[FirstName] [LastName]" class="team-card__img img-style-rectangle" loading="lazy">
    </a>
    <div class="team-card__body">
      <h3 class="team-card__name">[FirstName] [LastName]</h3>
      <p class="team-card__blurb">
        [IntroText]
      </p>
      <a href="#wm-popup=/team-member/details?TeamMemberId=[Id]" class="team-card__btn">Learn More</a>
    </div>
  </div>  
  <!-- END_REPEAT -->
</div>
